.nav {
    background-color: #4e148c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 20px #C900FF; 
}

.searchBar {
    margin-right: 20px;
    text-shadow: 0 0 20px #C900FF; 
}

.nav img {
    width: 50px;
    box-shadow: 0 0 10px #C900FF; 
}

.nav a {
    font-family: Arial, sans-serif;
    font-size: larger;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s, text-shadow 0.2s; 
    position: relative; /* Añade posición relativa para posicionar la línea */
}

/* Estilo para los enlaces cuando el mouse está sobre ellos */
.nav a:hover {
    color: #b892ff;
    transform: scale(1.05); 
    text-shadow: 0 0 5px #C900FF; 
    border-bottom: 2px solid #C900FF; /* Agregar una línea fucsia debajo del texto */
}

.nav a:first-child {
    font-weight: bold;
}
